.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.mainContent {
  position: relative;
  min-height: calc(100vh - 100px); /* Ensure footer remains at the bottom */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Alata, sans-serif;
  color: #000;
  padding: 50px 20px;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.creationSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 563px;
  width: 100%;
}

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px; /* Reduced space */
  color: #09075F;
}

.question {
  font-size: 32px;
  line-height: 1.5; /* Slightly adjusted for better readability */
  text-align: center;
  margin-bottom: 30px; /* Reduced space */
  color: #09075F;
}

.buttonGroup {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Adjusted spacing between buttons */
}

.card {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 50px;
  max-width: 500px;
  text-align: center;
}
